.message{
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
}
.innerMessageContainer{
  width: fit-content;
  max-width: 70%;
  border-radius: 6px;
  /* padding: 3px 5px; */
}
.myMessageInner{
  background: rgb(204, 203, 203);
  margin-right: 5px;
  color: black;
  border-radius: 6px;

}
.otherMessageInner{
  background: rgb(155, 155, 155);
  margin-left: 5px;
  color: black;
  border-radius: 6px;
}
.name{
  background: #771100;
  font-weight: 500;
  color: white;
  padding: 3px 5px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.para{
  /* max-width: 80%; */
  padding: 5px 5px;
  width: fit-content;
  word-wrap: break-word;
  margin: 0!important;
}
.myMessage{
  align-items: flex-end;
}